<p id="notice"><%= notice %></p>

<h1>
  <%= @user.first_name %><h> </h><%= @user.last_name %>
</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Activity</strong>
  <%= @user.locations.count%><h> pins</h>
</p>

<p>
  <strong>Photo:</strong>
</p>
<% @user.locations.each do |f| %>
  <p>
    <%= f.address %>
  </p>
  <p>
    <%= image_tag f.photo.url(:medium) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
