<% provide(:title, "Edit Project") %>
<h1>Update your Project</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@project) do |f| %>

      <%= f.label :content %><br>
      <%= f.text_field :content %>


      <%= f.label :place %><br>
      <%= f.text_field :place %>


      <%= fields_for(@location) do |u| %>
          <%= u.label :address %><br />
          <%= u.text_field :address %>
      <% end %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>