<h1>Where Did You Receive the Wallet?</h1>
<%= form_for(@project, project_location_path(project_id: location.project, location)) do |u| %>
  <%= fields_for(@location) do |f|%>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :photo %><br>
      <%= f.file_field :photo %>
    </div>
  <% end %>
  <div class="actions">
    <%= u.submit 'create pin'%>
    <%#<%= f.submit 'Update Tag', :name => 'update' %>
  </div>
<% end %>