<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @project.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<div class = "span8">
  <% if @project.locations.any? %>
  <h3>The Number of Locations: <%= @project.locations.count %></h3>
  <ol class = "location">
    <%= render @locations %>
  </ol>
    <!-- もしUserのprojectsに含まれているidが表示されている@project.idと同じならば プロジェクト作ってたら-->
    <% if @user.locations.any? {|x| x[:id]} != @project.locations.any? {|x| x[:id]} %>
        <%= link_to "Pin", new_project_location_path(@project,@location) %>
    <% end %>
  <% end %>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
