<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @project.content %>
</p>

<%= link_to 'Go back to index', projects_path %>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<div class = "span8">
  <% if @project.locations.any? %>
  <h3>The Number of Locations: <%= @project.locations.count %></h3>

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 600px;'></div>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      polyline = <%=raw @hashroute.to_json %>;
      handler.addPolyline(polyline);
      handler.bounds.extend(polyline[0]);
      handler.bounds.extend(polyline[ polyline.length - 1]);
    });
</script>

  <ol class = "location">
    <%= render @locations %>
  </ol>
    <!-- もしUserのprojectsに含まれているidが表示されている@project.idと同じならば プロジェクト作ってたら-->
    <%# <% if @user.locations.any? {|x| x[:id]} != @project.locations.any? {|x| x[:id]} %>
        <%= link_to "Pin", new_project_location_path(@project,@location) %>
    <%#<% end %>
  <% end %>
  <% if @project.locations.last.user_id = current_user.id %>
    <%= link_to "Invite Your Friend", "#" %>
  <% end %>

</div>