<li>
  <span class="address"><%= location.address %></span>
  <%= link_to location.address, '#' %>
  <%#<% if location != @project.locations.first %>
  <p>
  <%#{<%= @project.created_at %>
  <%#<%= location.created_at %>
  <div align="right">
    <%= link_to 'Edit Pin',  edit_project_location_path(@project.id, location) %>
    <%= link_to "delete", [@project, location], :method  => :delete %>
  </div>
  </p>
  <%#<% end %>
  <br>
  <% if location.photo_file_name.present? %>
    <%= image_tag location.photo.url(:medium) %>
  <% end %>
</li>