<li>
  <span class="address"><%= location.address %></span>
  <%= link_to @location %>
  <% if location.created_at - @project.created_at = 0 %>
  <p>
  <%= @project.created_at %>
  <%= location.created_at %>
  <div align="right">
    <%= link_to 'Edit Pin',  edit_project_location_path(@project.id, location) %>
  </div>
  </p>
  <% end %>
  <br>
  <% if location.photo_file_name.present? %>
    <%= image_tag location.photo.url(:medium) %>
  <% end %>
</li>