<h1>Do You Want To Chnage Information?</h1>
<h1>Update your Project</h1>

<%= form_for [@project, @location] do |u| %>
    <div class="field">
      <%= u.label :address %><br>
      <%= u.text_field :address %>
    </div>
    <div class="field">
      <%= u.label :photo %><br>
      <%= u.file_field :photo %>
    </div>
  <div class="actions">
    <%= u.submit 'update pin'%>
  </div>
<% end %>